In [86]:
!pip install scikit-learn
!pip install matplotlib
!pip install pandas 
!pip install numpy 
%matplotlib inline

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in c:\users\edgra\appdata\roaming\python\python312\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from scikit-learn) (2.1.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from scikit-learn) (3.6.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in c:\users\edgra\appdata\roaming\python\python312\site-packages (3.10.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from matplotlib) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from matplotlib) (2.1.3)
Requirement already satisfied: packaging>=20.0 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\edgra\appdata\roaming\python\python312\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\edgra\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\edgra\appdata\roaming\python\python312\site-packages (2.1.3)

In [87]:

import pandas as pd
import pylab as pl
import numpy as np
import scipy.optimize as opt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
%matplotlib inline 
import matplotlib.pyplot as plt

In [88]:
# Read cuci_tanga.csv
cuci_tangan_df = pd.read_csv("cuci_tangan.csv")
# Remove line 1
cuci_tangan_df = cuci_tangan_df.drop([0])
# Rename columns
cuci_tangan_df.columns = ['Wilayah', 'Persentase']
# Remove all rows with missing values ('-') or NAN
cuci_tangan_df = cuci_tangan_df[cuci_tangan_df.Persentase != '-']
cuci_tangan_df = cuci_tangan_df.dropna()
# drop last row
cuci_tangan_df = cuci_tangan_df.drop(cuci_tangan_df.index[-1])
# Convert 'Persentase' to float
cuci_tangan_df['Persentase'] = cuci_tangan_df['Persentase'].astype(float)

print(cuci_tangan_df.head())
cuci_tangan_df.dtypes
cuci_tangan_df.describe()

         Wilayah  Persentase
1           ACEH        31.6
2       Simeulue        28.0
3   Aceh Singkil        49.7
4   Aceh Selatan        21.5
5  Aceh Tenggara        19.7

       Persentase
count  547.000000
mean    44.025777
std     16.727384
min      0.300000
25%     33.800000
50%     45.800000
75%     56.150000
max     79.100000

In [89]:
# Read house_size.csv
house_size_df = pd.read_csv("house_size.csv")
# Remove line 1
house_size_df = house_size_df.drop([0])
# Rename columns
house_size_df.columns = ['Wilayah', 'Persentase']
# Remove all rows with missing values ('-') or NAN
house_size_df = house_size_df[house_size_df.Persentase != '-']
house_size_df = house_size_df.dropna()
# drop last row
house_size_df = house_size_df.drop(house_size_df.index[-1])
# Convert 'Persentase' to float
house_size_df['Persentase'] = house_size_df['Persentase'].astype(float)

print(house_size_df.head())
house_size_df.dtypes
house_size_df.describe()

         Wilayah  Persentase
1           ACEH       13.23
2       Simeulue       14.14
3   Aceh Singkil       20.40
4   Aceh Selatan        9.17
5  Aceh Tenggara       15.57

       Persentase
count  547.000000
mean    12.429122
std     10.184029
min      0.140000
25%      6.155000
50%     10.050000
75%     15.940000
max     88.180000

In [90]:

# Read jumlah_komuter.csv
jumlah_komuter_df = pd.read_csv("jumlah_komuter.csv")
# Remove line 1
jumlah_komuter_df = jumlah_komuter_df.drop([0])
# Rename columns
jumlah_komuter_df.columns = ['Wilayah', 'Persentase']
# Remove all rows with missing values ('-') or NAN
jumlah_komuter_df = jumlah_komuter_df[jumlah_komuter_df.Persentase != '-']
jumlah_komuter_df = jumlah_komuter_df.dropna()
# drop last row
jumlah_komuter_df = jumlah_komuter_df.drop(jumlah_komuter_df.index[-1])
# Convert 'Persentase' to float
jumlah_komuter_df['Persentase'] = jumlah_komuter_df['Persentase'].astype(float)

print(jumlah_komuter_df.head())
jumlah_komuter_df.dtypes
jumlah_komuter_df.describe()

         Wilayah  Persentase
1           ACEH        1.55
3   Aceh Singkil        0.04
4   Aceh Selatan        0.22
5  Aceh Tenggara        0.11
6     Aceh Timur        0.45

       Persentase
count  494.000000
mean     2.076478
std      2.673484
min      0.020000
25%      0.362500
50%      0.970000
75%      2.615000
max     18.520000

In [91]:

# Read morbiditas.csv
morbiditas_df = pd.read_csv("morbiditas.csv")
# Remove line 1
morbiditas_df = morbiditas_df.drop([0])
# only keep the first 2 columns
morbiditas_df = morbiditas_df.iloc[:, :2]
# Rename columns
morbiditas_df.columns = ['Wilayah', 'Persentase']
# Remove all rows with missing values ('-') or NAN
morbiditas_df = morbiditas_df[morbiditas_df.Persentase != '-']
morbiditas_df = morbiditas_df.dropna()
# drop last row
morbiditas_df = morbiditas_df.drop(morbiditas_df.index[-1])
# Convert 'Persentase' to float
morbiditas_df['Persentase'] = morbiditas_df['Persentase'].astype(float)

print(morbiditas_df.head())
morbiditas_df.dtypes
morbiditas_df.describe()

         Wilayah  Persentase
1           ACEH       16.68
2       Simeulue       12.46
3   Aceh Singkil       16.81
4   Aceh Selatan       16.16
5  Aceh Tenggara       15.80

       Persentase
count  548.000000
mean    14.798248
std      4.668340
min      0.770000
25%     11.320000
50%     14.700000
75%     17.852500
max     31.380000

In [92]:
# Read pengeluaran_daging.csv
pengeluaran_daging_df = pd.read_csv("pengeluaran_daging.csv")
# Remove line 1
pengeluaran_daging_df = pengeluaran_daging_df.drop([0])
# only keep the column 0 and the average of column 8
pengeluaran_daging_df = pengeluaran_daging_df.iloc[:, [0, 8, 9, 10, 11, 12]]
# Rename columns
pengeluaran_daging_df.columns = ['Wilayah', 'Harga1', 'Harga2', 'Harga3', 'Harga4', 'Harga5']
# Remove all rows with missing values ('-') or NAN
pengeluaran_daging_df = pengeluaran_daging_df[pengeluaran_daging_df.Harga1 != '-']
pengeluaran_daging_df = pengeluaran_daging_df[pengeluaran_daging_df.Harga2 != '-']
pengeluaran_daging_df = pengeluaran_daging_df[pengeluaran_daging_df.Harga3 != '-']
pengeluaran_daging_df = pengeluaran_daging_df[pengeluaran_daging_df.Harga4 != '-']
pengeluaran_daging_df = pengeluaran_daging_df[pengeluaran_daging_df.Harga5 != '-']
pengeluaran_daging_df = pengeluaran_daging_df.dropna()
# drop last row
pengeluaran_daging_df = pengeluaran_daging_df.drop(pengeluaran_daging_df.index[-1])
# Convert 'Persentase' to float
pengeluaran_daging_df['Harga1'] = pengeluaran_daging_df['Harga1'].astype(float)
pengeluaran_daging_df['Harga2'] = pengeluaran_daging_df['Harga2'].astype(float)
pengeluaran_daging_df['Harga3'] = pengeluaran_daging_df['Harga3'].astype(float)
pengeluaran_daging_df['Harga4'] = pengeluaran_daging_df['Harga4'].astype(float)
pengeluaran_daging_df['Harga5'] = pengeluaran_daging_df['Harga5'].astype(float)
# Calculate the average of columns 1-5
pengeluaran_daging_df['Harga'] = pengeluaran_daging_df.iloc[:, 1:6].mean(axis=1)
# Drop columns 1-5
pengeluaran_daging_df = pengeluaran_daging_df.drop(pengeluaran_daging_df.columns[1:6], axis=1)

print(pengeluaran_daging_df.head())
pengeluaran_daging_df.dtypes
pengeluaran_daging_df.describe()

         Wilayah    Harga
2       Simeulue  255.244
3   Aceh Singkil  267.624
5  Aceh Tenggara  744.188
6     Aceh Timur  441.808
7    Aceh Tengah  566.916

             Harga
count   470.000000
mean    782.825289
std     775.514549
min      16.124000
25%     301.472000
50%     523.974000
75%     971.751500
max    4649.494000

In [96]:
# Merge the df, only keep rows that has all wilayah
# renama columns
cuci_tangan_df.columns = ['Wilayah', 'Cuci Tangan']
house_size_df.columns = ['Wilayah', 'House Size']
final_df = pd.merge(cuci_tangan_df, house_size_df, on='Wilayah')

jumlah_komuter_df.columns = ['Wilayah', 'Jumlah Komuter']
final_df = pd.merge(final_df, jumlah_komuter_df, on='Wilayah')

morbiditas_df.columns = ['Wilayah', 'Morbiditas']
final_df = pd.merge(final_df, morbiditas_df, on='Wilayah')

pengeluaran_daging_df.columns = ['Wilayah', 'Pengeluaran Daging']
final_df = pd.merge(final_df, pengeluaran_daging_df, on='Wilayah')
final_df = final_df.dropna()
final_df = final_df.reset_index(drop=True)

print(final_df.head())
final_df.describe()

         Wilayah  Cuci Tangan  House Size  Jumlah Komuter  Morbiditas  \
0   Aceh Singkil         49.7       20.40            0.04       16.81
1  Aceh Tenggara         19.7       15.57            0.11       15.80
2     Aceh Timur         40.9       25.97            0.45       17.96
3    Aceh Tengah         45.1        8.50            0.58       19.75
4     Aceh Barat         19.3        4.37            0.59       19.78

   Pengeluaran Daging
0             267.624
1             744.188
2             441.808
3             566.916
4             401.046

       Cuci Tangan  House Size  Jumlah Komuter  Morbiditas  Pengeluaran Daging
count   421.000000  421.000000      421.000000  421.000000          421.000000
mean     46.027791   10.652803        2.196770   15.055012          799.246352
std      15.916905    7.482772        2.783835    4.391307          791.028995
min       0.300000    0.140000        0.020000    2.130000           16.124000
25%      35.700000    4.990000        0.400000   11.590000          311.420000
50%      47.100000    9.330000        1.020000   14.910000          525.752000
75%      57.900000   14.920000        2.850000   18.010000          997.048000
max      79.100000   43.800000       18.520000   31.380000         4649.494000

In [ ]:
# scatter plot house size and cuci tangan

plt.scatter(final_df['House Size'], final_df['Cuci Tangan'],  color='blue')
plt.xlabel("House Size")
plt.ylabel("Cuci Tangan")
plt.show()